// Guidelines:
// font weight 400 - regular mr-eaves-modern
// font weight 700 - bold mr-eaves-modern
// font weight 800 - heavy mr-eaves-modern
// font weight 700 - bold lato
// font weight 900 - black lato
// line-height must multiply 1.5
// button padding CTA: 18px up-down, 32px side-side
// button padding medium: 16px up-down, 24px side-side
// button padding small: 8px up-down, 16px side-side
// button font size: 18px

body 
    font-family: mr-eaves-modern, sans-serif
    font-size: 16px
    font-weight: 400

@import _variables
@import _header