body {
  font-family: mr-eaves-modern, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar .nav-menu {
  height: 5rem;
  margin: 0 4rem;
  padding: 0;
  overflow: hidden;
}

.navbar .nav-menu .logo-link {
  float: left;
  margin: 0 7rem 0 0;
  padding: 0;
}

.navbar .nav-menu .logo-link .logo {
  margin: 0;
  padding: 0;
}

.navbar .nav-menu .logo-link .logo::before {
  content: '';
  display: inline-block;
  width: 8rem;
  height: 5rem;
  background: url("../src/logo-kolumna.svg");
  margin: 0;
  padding: 0;
}

.navbar .nav-menu .menu-items {
  float: left;
  margin: 2rem 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-menu .menu-items .item {
  text-decoration: none;
  font-size: 1.25rem;
  color: #0077C3;
  margin: 0 1rem;
  padding: 0.3rem 0;
  border-bottom: 0.06rem solid transparent;
}

.navbar .nav-menu .menu-items .item:hover {
  border-bottom: 0.06rem solid #0077C3;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.navbar .nav-menu .rrss {
  float: right;
  margin: 2rem 0 0 0;
  padding: 0;
}

.navbar .nav-menu .rrss .rrss-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.navbar .nav-menu .rrss .rrss-link .fa-facebook {
  color: #3B5998;
  font-size: 1.5rem;
  margin: 0;
}

.navbar .nav-menu .rrss .rrss-link .fa-youtube {
  color: #FF0000;
  font-size: 1.5rem;
  margin: 0 1.5rem;
}

.navbar .nav-menu .rrss .rrss-link .fa-instagram {
  color: #405DE6;
  font-size: 1.5rem;
  margin: 0;
}

@use titles {}@use paragraphs {}@use btnCTA {}.kolumna {
  height: 100vh;
  margin: 0 4rem;
  padding: 5rem 0 0 5.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kolumna .titulo-descripcion {
  width: 25rem;
  margin: 0;
  padding: 0;
}

.kolumna .titulo-descripcion .que-es-kolumna {
  font-family: 'Lato', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  color: #0077C3;
  width: 100%;
  margin: 0 0 4.5rem 0;
  padding: 0;
}

.kolumna .titulo-descripcion .descripcion {
  font-size: 1.125rem;
  color: #0077C3;
  line-height: 1.3;
  width: 100%;
  margin: 0 0 2.5rem 0;
  padding: 0;
}

.kolumna .titulo-descripcion input[type="button"] {
  background: #e56b2d;
  font-size: 1.125rem;
  color: #ffffff;
  padding: 1.125rem 2rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: 0;
}

.kolumna .titulo-descripcion input[type="button"]:hover {
  background: #ff7632;
}

.kolumna .img1 {
  width: 37.5rem;
  height: 47rem;
  -webkit-transform: translate(0, -3rem);
          transform: translate(0, -3rem);
}

@use titles {}@use paragraphs {}.quiropractica {
  height: 100vh;
  margin: 0 4rem;
  padding: 12rem 0 3.5rem 5.125rem;
  position: relative;
}

.quiropractica .titulo-descripcion {
  width: 44rem;
  margin: 0;
  padding: 0;
}

.quiropractica .titulo-descripcion .que-es-quiropractica {
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: #0077C3;
  width: 100%;
  margin: 0 0 3.5rem 0;
  padding: 0;
}

.quiropractica .titulo-descripcion .descripcion {
  font-size: 1.125rem;
  color: #0077C3;
  line-height: 1.3;
  width: 100%;
  margin: 0 0 3rem 0;
}

.quiropractica .img2 {
  float: left;
  -webkit-transform: translate(-5rem, 0);
          transform: translate(-5rem, 0);
}

.quiropractica .img3 {
  float: right;
  -webkit-transform: translate(0, 5rem);
          transform: translate(0, 5rem);
}

@use titles {}@use paragraphs {}.servicios {
  height: 200vh;
  margin: 0 4rem;
  padding: 12.5rem 0 0 5.125rem;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.servicios .titulo-descripcion {
  width: 44rem;
  margin: 0 0 6rem 0;
  padding: 0;
}

.servicios .titulo-descripcion .nuestros-servicios {
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: #0077C3;
  width: 100%;
  margin: 0 0 3.5rem 0;
  padding: 0;
}

.servicios .titulo-descripcion .descripcion {
  font-size: 1.125rem;
  color: #0077C3;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

.servicios .cards-servicios {
  position: absolute;
  width: 100%;
  -webkit-transform: translate(-5.1rem, 0);
          transform: translate(-5.1rem, 0);
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.servicios .cards-servicios .card_1 {
  width: 19.5rem;
  margin: 0 0 8rem 0;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.9rem;
  -webkit-box-shadow: 0 1rem 3rem 0.09rem rgba(100, 100, 100, 0.3);
          box-shadow: 0 1rem 3rem 0.09rem rgba(100, 100, 100, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.servicios .cards-servicios .card_1:hover {
  -webkit-transform: translate(0, -1rem);
          transform: translate(0, -1rem);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.servicios .cards-servicios .card_1 .icon-card_1 {
  margin: 0;
  padding: 0;
  margin: 0 0 1.75rem 0;
  padding: 0;
}

.servicios .cards-servicios .card_1 .icon-card_1::after {
  content: '';
  background: url("../src/cuello.svg");
  background-size: cover;
  background-position: center;
  width: 6rem;
  height: 6rem;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.servicios .cards-servicios .card_1 .titulo-card_1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: #0077C3;
  width: 100%;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.servicios .cards-servicios .card_1 .descripcion-card_1 {
  font-size: 1.125rem;
  color: #0077C3;
  line-height: 1.3;
  margin: 0 0 2.5rem 0;
  padding: 0;
  width: 100%;
}

.servicios .cards-servicios .card_1 .link-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicios .cards-servicios .card_1 .link-button .link {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 900;
  color: #0077C3;
}

.servicios .cards-servicios .card_1 .link-button input[type="button"] {
  background: #e56b2d;
  font-size: 1.125rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: 0;
}

.servicios .cards-servicios .card_1 .link-button input[type="button"]:hover {
  background: #ff7632;
}

.servicios .cards-servicios .card_2 {
  width: 19.5rem;
  margin: 0 0 8rem 0;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.9rem;
  -webkit-box-shadow: 0 1rem 3rem 0.09rem rgba(100, 100, 100, 0.3);
          box-shadow: 0 1rem 3rem 0.09rem rgba(100, 100, 100, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.servicios .cards-servicios .card_2:hover {
  -webkit-transform: translate(0, -1rem);
          transform: translate(0, -1rem);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.servicios .cards-servicios .card_2 .icon-card_2 {
  margin: 0;
  padding: 0;
  margin: 0 0 1.75rem 0;
  padding: 0;
}

.servicios .cards-servicios .card_2 .icon-card_2::after {
  content: '';
  background: url("../src/espalda.svg");
  background-size: cover;
  background-position: center;
  width: 6rem;
  height: 6rem;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.servicios .cards-servicios .card_2 .titulo-card_2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: #0077C3;
  width: 100%;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.servicios .cards-servicios .card_2 .descripcion-card_2 {
  font-size: 1.125rem;
  color: #0077C3;
  line-height: 1.3;
  margin: 0 0 2.5rem 0;
  padding: 0;
  width: 100%;
}

.servicios .cards-servicios .card_2 .link-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicios .cards-servicios .card_2 .link-button .link {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 900;
  color: #0077C3;
}

.servicios .cards-servicios .card_2 .link-button input[type="button"] {
  background: #e56b2d;
  font-size: 1.125rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: 0;
}

.servicios .cards-servicios .card_2 .link-button input[type="button"]:hover {
  background: #ff7632;
}

.servicios .cards-servicios .card_3 {
  width: 19.5rem;
  margin: 0 0 8rem 0;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.9rem;
  -webkit-box-shadow: 0 1rem 3rem 0.09rem rgba(100, 100, 100, 0.3);
          box-shadow: 0 1rem 3rem 0.09rem rgba(100, 100, 100, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.servicios .cards-servicios .card_3:hover {
  -webkit-transform: translate(0, -1rem);
          transform: translate(0, -1rem);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.servicios .cards-servicios .card_3 .icon-card_3 {
  margin: 0;
  padding: 0;
  margin: 0 0 1.75rem 0;
  padding: 0;
}

.servicios .cards-servicios .card_3 .icon-card_3::after {
  content: '';
  background: url("../src/hernia.svg");
  background-size: cover;
  background-position: center;
  width: 6rem;
  height: 6rem;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.servicios .cards-servicios .card_3 .titulo-card_3 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: #0077C3;
  width: 100%;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.servicios .cards-servicios .card_3 .descripcion-card_3 {
  font-size: 1.125rem;
  color: #0077C3;
  line-height: 1.3;
  margin: 0 0 2.5rem 0;
  padding: 0;
  width: 100%;
}

.servicios .cards-servicios .card_3 .link-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicios .cards-servicios .card_3 .link-button .link {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 900;
  color: #0077C3;
}

.servicios .cards-servicios .card_3 .link-button input[type="button"] {
  background: #e56b2d;
  font-size: 1.125rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: 0;
}

.servicios .cards-servicios .card_3 .link-button input[type="button"]:hover {
  background: #ff7632;
}

.servicios .cards-servicios .card_4 {
  width: 19.5rem;
  margin: 0 0 8rem 0;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.9rem;
  -webkit-box-shadow: 0 1rem 3rem 0.09rem rgba(100, 100, 100, 0.3);
          box-shadow: 0 1rem 3rem 0.09rem rgba(100, 100, 100, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.servicios .cards-servicios .card_4:hover {
  -webkit-transform: translate(0, -1rem);
          transform: translate(0, -1rem);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.servicios .cards-servicios .card_4 .icon-card_4 {
  margin: 0;
  padding: 0;
  margin: 0 0 1.75rem 0;
  padding: 0;
}

.servicios .cards-servicios .card_4 .icon-card_4::after {
  content: '';
  background: url("../src/escoliosis.svg");
  background-size: cover;
  background-position: center;
  width: 6rem;
  height: 6rem;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.servicios .cards-servicios .card_4 .titulo-card_4 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: #0077C3;
  width: 100%;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.servicios .cards-servicios .card_4 .descripcion-card_4 {
  font-size: 1.125rem;
  color: #0077C3;
  line-height: 1.3;
  margin: 0 0 2.5rem 0;
  padding: 0;
  width: 100%;
}

.servicios .cards-servicios .card_4 .link-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicios .cards-servicios .card_4 .link-button .link {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 900;
  color: #0077C3;
}

.servicios .cards-servicios .card_4 .link-button input[type="button"] {
  background: #e56b2d;
  font-size: 1.125rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: 0;
}

.servicios .cards-servicios .card_4 .link-button input[type="button"]:hover {
  background: #ff7632;
}

.servicios .cards-servicios .card_5 {
  width: 19.5rem;
  margin: 0 0 8rem 0;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.9rem;
  -webkit-box-shadow: 0 1rem 3rem 0.09rem rgba(100, 100, 100, 0.3);
          box-shadow: 0 1rem 3rem 0.09rem rgba(100, 100, 100, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.servicios .cards-servicios .card_5:hover {
  -webkit-transform: translate(0, -1rem);
          transform: translate(0, -1rem);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.servicios .cards-servicios .card_5 .icon-card_5 {
  margin: 0;
  padding: 0;
  margin: 0 0 1.75rem 0;
  padding: 0;
}

.servicios .cards-servicios .card_5 .icon-card_5::after {
  content: '';
  background: url("../src/ciatica.svg");
  background-size: cover;
  background-position: center;
  width: 6rem;
  height: 6rem;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.servicios .cards-servicios .card_5 .titulo-card_5 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: #0077C3;
  width: 100%;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.servicios .cards-servicios .card_5 .descripcion-card_5 {
  font-size: 1.125rem;
  color: #0077C3;
  line-height: 1.3;
  margin: 0 0 2.5rem 0;
  padding: 0;
  width: 100%;
}

.servicios .cards-servicios .card_5 .link-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicios .cards-servicios .card_5 .link-button .link {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 900;
  color: #0077C3;
}

.servicios .cards-servicios .card_5 .link-button input[type="button"] {
  background: #e56b2d;
  font-size: 1.125rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: 0;
}

.servicios .cards-servicios .card_5 .link-button input[type="button"]:hover {
  background: #ff7632;
}

.servicios .cards-servicios .card_6 {
  width: 19.5rem;
  margin: 0 0 8rem 0;
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.9rem;
  -webkit-box-shadow: 0 1rem 3rem 0.09rem rgba(100, 100, 100, 0.3);
          box-shadow: 0 1rem 3rem 0.09rem rgba(100, 100, 100, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.servicios .cards-servicios .card_6:hover {
  -webkit-transform: translate(0, -1rem);
          transform: translate(0, -1rem);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.servicios .cards-servicios .card_6 .icon-card_6 {
  margin: 0;
  padding: 0;
  margin: 0 0 1.75rem 0;
  padding: 0;
}

.servicios .cards-servicios .card_6 .icon-card_6::after {
  content: '';
  background: url("../src/pregnant.svg");
  background-size: cover;
  background-position: center;
  width: 6rem;
  height: 6rem;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.servicios .cards-servicios .card_6 .titulo-card_6 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: #0077C3;
  width: 100%;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.servicios .cards-servicios .card_6 .descripcion-card_6 {
  font-size: 1.125rem;
  color: #0077C3;
  line-height: 1.3;
  margin: 0 0 2.5rem 0;
  padding: 0;
  width: 100%;
}

.servicios .cards-servicios .card_6 .link-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicios .cards-servicios .card_6 .link-button .link {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 900;
  color: #0077C3;
}

.servicios .cards-servicios .card_6 .link-button input[type="button"] {
  background: #e56b2d;
  font-size: 1.125rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: 0;
}

.servicios .cards-servicios .card_6 .link-button input[type="button"]:hover {
  background: #ff7632;
}

@use titles {}@use paragraphs {}.text-imgs {
  height: 100vh;
  margin: 17rem 4rem 0 4rem;
  padding: 3rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.text-imgs .descripcion {
  width: 44rem;
  margin: 0 0 0 30rem;
}

.text-imgs .descripcion .descripcion-text {
  font-size: 1.125rem;
  color: #0077C3;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

.text-imgs .imgs {
  width: 100%;
  margin: 5rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-imgs .imgs .img4 {
  width: 25rem;
  height: 31rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.text-imgs .imgs .img5 {
  width: 39rem;
  height: 26rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@use titles {}@use paragraphs {}.descripcion-video {
  height: 100vh;
  margin: 0 4rem;
  padding: 8rem 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.descripcion-video .text {
  width: 100%;
  margin: 0 0 4rem 0;
  padding: 0 5rem 0 10rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.descripcion-video .text .text-1 {
  font-size: 1.125rem;
  color: #0077C3;
  line-height: 1.3;
  width: 32rem;
  margin: 0;
  padding: 0;
}

.descripcion-video .text .text-2 {
  font-size: 1.125rem;
  color: #0077C3;
  line-height: 1.3;
  width: 24rem;
  margin: 0;
  padding: 0;
}

.descripcion-video iframe {
  width: 43.5rem;
}

@use titles {}@use paragraphs {}.covid-19 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.covid-19 .icon-alert {
  margin: 0 0 3.25rem 0;
  padding: 0;
}

.covid-19 .icon-alert::after {
  content: '';
  display: inline-block;
  width: 7rem;
  height: 6.25rem;
  background: url("../src/alert-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.covid-19 .title-covid {
  font-family: mr-eaves-modern, sans-serif;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  line-height: 1;
  width: 100%;
  margin: 0 0 3.25rem 0;
  padding: 0;
}

.covid-19 .text {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: #0077C3;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

@use titles {}@use paragraphs {}.opiniones {
  height: 100vh;
  margin: 0 4rem;
}

.opiniones .titulo-opiniones {
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: #84CB26;
  text-align: center;
  margin: 0 0 9rem 0;
}

.opiniones .slide-1 {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.opiniones .slide-1 .icon-quote {
  margin: 0;
  padding: 0;
}

.opiniones .slide-1 .icon-quote::before {
  content: '';
  display: block;
  margin: 0 auto 3rem auto;
  width: 5rem;
  height: 4rem;
  background: url("../src/quote-icon.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translate(0, -2rem);
          transform: translate(0, -2rem);
}

.opiniones .slide-1 .opinion-1 {
  font-size: 2rem;
  color: #0077C3;
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
  width: 100%;
  display: inline-block;
  margin: 0 0 2rem 0;
  padding: 0;
}

.opiniones .slide-1 .autor {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  color: #0077C3;
}

@use titles {}@use paragraphs {}footer {
  background: #0077C3;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .box-margin {
  width: 100%;
  margin: 0 4rem 4rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .box-margin .mapa-sitio {
  width: 14rem;
}

footer .box-margin .mapa-sitio .titulo-mapa-sitio {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #ffffff;
  margin: 0 0 3rem 0;
  padding: 0;
}

footer .box-margin .mapa-sitio .nav-bar-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 1.8rem 0;
}

footer .box-margin .mapa-sitio .nav-bar-vertical .item-menu {
  text-decoration: none;
  font-size: 1.25rem;
  color: #ffffff;
  margin: 0 0 1.5rem 0;
}

footer .box-margin .mapa-sitio .rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .box-margin .mapa-sitio .rrss a {
  text-decoration: none;
  margin: 0 1.5rem 0 0;
}

footer .box-margin .mapa-sitio .rrss a .fa-facebook {
  color: #ffffff;
  font-size: 1.5rem;
}

footer .box-margin .mapa-sitio .rrss a .fa-youtube {
  color: #ffffff;
  font-size: 1.5rem;
}

footer .box-margin .mapa-sitio .rrss a .fa-instagram {
  color: #ffffff;
  font-size: 1.5rem;
}

footer .box-margin .informacion-contacto {
  width: 28rem;
}

footer .box-margin .informacion-contacto .titulo-informacion {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #ffffff;
  margin: 0 0 3rem 0;
  padding: 0;
}

footer .box-margin .informacion-contacto .informacion {
  width: 100%;
}

footer .box-margin .informacion-contacto .informacion .whatsapp {
  margin: 0 0 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .box-margin .informacion-contacto .informacion .whatsapp .icon-whatsapp {
  margin: 0;
  padding: 0;
}

footer .box-margin .informacion-contacto .informacion .whatsapp .icon-whatsapp::before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  background: url("../src/whatsapp.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer .box-margin .informacion-contacto .informacion .whatsapp .numero {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0 0 0 1rem;
  padding: 0;
}

footer .box-margin .informacion-contacto .informacion .email {
  margin: 0 0 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .box-margin .informacion-contacto .informacion .email .icon-email {
  margin: 0;
  padding: 0;
}

footer .box-margin .informacion-contacto .informacion .email .icon-email::before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  background: url("../src/email.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

footer .box-margin .informacion-contacto .informacion .email .inbox {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0 0 0 1rem;
  padding: 0;
}

footer .box-margin .informacion-contacto .informacion .address {
  margin: 0 0 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .box-margin .informacion-contacto .informacion .address .icon-address {
  margin: 0;
  padding: 0;
}

footer .box-margin .informacion-contacto .informacion .address .icon-address::before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  background: url("../src/address.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

footer .box-margin .informacion-contacto .informacion .address .location {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0 0 0 1rem;
  padding: 0;
}

footer .box-margin .formulario-contacto {
  width: 28rem;
}

footer .box-margin .formulario-contacto .titulo {
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #ffffff;
  margin: 0 0 3rem 0;
  padding: 0;
}

footer .box-margin .formulario-contacto .formulario {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .box-margin .formulario-contacto .formulario input[type="text"] {
  background: none;
  width: 47%;
  border-radius: 0.2rem;
  border: 1px solid #ffffff;
  outline: 0;
  margin: 0 0 1.5rem 0;
  padding: 0.8rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
}

footer .box-margin .formulario-contacto .formulario input[type="text"]::-webkit-input-placeholder {
  color: #cfcfcf;
}

footer .box-margin .formulario-contacto .formulario input[type="text"]:-ms-input-placeholder {
  color: #cfcfcf;
}

footer .box-margin .formulario-contacto .formulario input[type="text"]::-ms-input-placeholder {
  color: #cfcfcf;
}

footer .box-margin .formulario-contacto .formulario input[type="text"]::placeholder {
  color: #cfcfcf;
}

footer .box-margin .formulario-contacto .formulario textarea[name="mensaje"] {
  background: none;
  min-width: 100%;
  max-width: 100%;
  min-height: 5rem;
  max-height: 21rem;
  border-radius: 0.2rem;
  border: 1px solid #ffffff;
  outline: 0;
  margin: 0 0 2rem 0;
  padding: 0.8rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
}

footer .box-margin .formulario-contacto .formulario textarea[name="mensaje"]::-webkit-input-placeholder {
  color: #cfcfcf;
}

footer .box-margin .formulario-contacto .formulario textarea[name="mensaje"]:-ms-input-placeholder {
  color: #cfcfcf;
}

footer .box-margin .formulario-contacto .formulario textarea[name="mensaje"]::-ms-input-placeholder {
  color: #cfcfcf;
}

footer .box-margin .formulario-contacto .formulario textarea[name="mensaje"]::placeholder {
  color: #cfcfcf;
}

footer .box-margin .formulario-contacto .formulario input[type="button"] {
  background: #ff7632;
  width: 100%;
  border-radius: 0.5rem;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 1rem 0;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5rem;
}

footer .box-margin .formulario-contacto .formulario input[type="button"]:hover {
  background: #fd8143;
}

footer .copyright {
  width: 100%;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.3;
  margin: 0 4rem;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */