body {
  font-family: mr-eaves-modern, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar .nav-menu {
  height: 5rem;
  margin: 0 4rem;
  padding: 0;
  overflow: hidden;
}

.navbar .nav-menu .logo-link {
  float: left;
  margin: 0 7rem 0 0;
  padding: 0;
}

.navbar .nav-menu .logo-link .logo {
  margin: 0;
  padding: 0;
}

.navbar .nav-menu .logo-link .logo::before {
  content: '';
  display: inline-block;
  width: 8rem;
  height: 5rem;
  background: url("../src/logo-kolumna.svg");
  margin: 0;
  padding: 0;
}

.navbar .nav-menu .menu-items {
  float: left;
  margin: 2rem 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-menu .menu-items .item {
  text-decoration: none;
  font-size: 1.25rem;
  color: #164372;
  margin: 0 1rem;
  padding: 0.3rem 0;
  border-bottom: 0.06rem solid transparent;
}

.navbar .nav-menu .menu-items .item:hover {
  border-bottom: 0.06rem solid #164372;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.navbar .nav-menu .rrss {
  float: right;
  margin: 2rem 0 0 0;
  padding: 0;
}

.navbar .nav-menu .rrss .rrss-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.navbar .nav-menu .rrss .rrss-link .fa-facebook {
  color: #3B5998;
  font-size: 1.5rem;
  margin: 0;
}

.navbar .nav-menu .rrss .rrss-link .fa-youtube {
  color: #FF0000;
  font-size: 1.5rem;
  margin: 0 1.5rem;
}

.navbar .nav-menu .rrss .rrss-link .fa-instagram {
  color: #405DE6;
  font-size: 1.5rem;
  margin: 0;
}

@use titles {}@use paragraphs {}@use btnCTA {}.kolumna {
  height: 100vh;
  margin: 0 4rem;
  padding: 5rem 0 0 5.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kolumna .titulo-descripcion {
  width: 25rem;
  margin: 0;
  padding: 0;
}

.kolumna .titulo-descripcion .que-es-kolumna {
  font-family: 'Lato', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  color: #164372;
  width: 100%;
  margin: 0 0 4.5rem 0;
  padding: 0;
}

.kolumna .titulo-descripcion .descripcion {
  font-size: 1.125rem;
  color: #164372;
  line-height: 1.3;
  width: 100%;
  margin: 0 0 2.5rem 0;
  padding: 0;
}

.kolumna .titulo-descripcion input[type="button"] {
  background: #e56b2d;
  font-size: 1.125rem;
  color: #ffffff;
  padding: 1.125rem 2rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: 0;
}

.kolumna .titulo-descripcion input[type="button"]:hover {
  background: #ff7632;
}

.kolumna .img1 {
  width: 37.5rem;
  height: 47rem;
  -webkit-transform: translate(0, -3rem);
          transform: translate(0, -3rem);
}

@use titles {}@use paragraphs {}.quiropractica {
  height: 100vh;
  margin: 0 4rem;
  padding: 12rem 0 3.5rem 5.125rem;
  position: relative;
}

.quiropractica .titulo-descripcion {
  width: 44rem;
  margin: 0;
  padding: 0;
}

.quiropractica .titulo-descripcion .que-es-quiropractica {
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: #164372;
  width: 100%;
  margin: 0 0 3.5rem 0;
  padding: 0;
}

.quiropractica .titulo-descripcion .descripcion {
  font-size: 1.125rem;
  color: #164372;
  line-height: 1.3;
  width: 100%;
  margin: 0 0 3rem 0;
}

.quiropractica .img2 {
  float: left;
  -webkit-transform: translate(-5rem, 0);
          transform: translate(-5rem, 0);
}

.quiropractica .img3 {
  float: right;
  -webkit-transform: translate(0, 5rem);
          transform: translate(0, 5rem);
}
/*# sourceMappingURL=main.css.map */